/* Rounding Various Widgets */
.rounded-3 picture {
	border-radius: 5px;
}
video.rounded-3 {
  border-radius: 5px;
}
video.rounded-3 revealer {
	border-radius: 5px;
	margin: 7px;
}

.rounded-2 picture {
	border-radius: 8px;
}
video.rounded-2 {
  border-radius: 8px;
}
video.rounded-2 revealer {
	border-radius: 8px;
	margin: 7px;
}

.rounded-1 picture {
	border-radius: 12px;
}
video.rounded-1 {
  border-radius: 12px;
}
video.rounded-1 revealer {
	border-radius: 12px;
	margin: 7px;
}

/* Video length displayed in bottom right corner of thumbnail */
label.video-time {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 4px;
  border-radius: 3px;
}

/* Make author button under thumbnail less chunky */
button.author {
  padding: 2px 10px;
}

/* Large spinner */
spinner.large {
  -gtk-icon-size: 35px;
}

/* Banner Headerbar */
headerbar.dark-buttons windowcontrols image {
  background-color: rgba(0, 0, 0, 0.5);
}
