.thumbnail picture {
	border-radius: 5px;
}

label.video-time {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 4px;
  border-radius: 3px;
}

button.author {
  padding: 2px 10px;
}

spinner.large {
  -gtk-icon-size: 35px;
}
